<div class="myquote">
  <div class="container-fluid">
    <h1 class="text-center pt">Quotes App</h1>
    <br />
    <p class="text-center">Publish your quotes today</p>
    <div class="text-center pt-1">
      <a href="#addquote" class="btn btn-outline-success p-1 mybtn"
        >Create Quote</a
      >
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let quote of quotes; let i = index">
          <div>
            <h4 id="{{ i }}" appStrikethrough>
              {{ quote.name }} due on
              {{ quote.completeDate | date | uppercase }}
              
            </h4>
            <button (click)="toggleDetails(i)" class="btn btn-primary">
              Toggle Details
            </button>
          </div>
          <app-quote-detail
            *ngIf="quote.showDescription"
            [quote]="quote"
            (isComplete)="deleteQuote($event, i)"
          ></app-quote-detail>
        </div>
      </div>
    </div>
    <p *ngIf="quotes.length > 5">You have too many quotes</p>
  </div>
</div>
<div class="container" id="addquote">
  <div class="col-md-12">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>
<br>
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center pt-5">
    © 2019 Copyright:
    <a href="quote.component.html" class="link"> Kiprotich Dominic</a>
  </div>
</footer>
