.myquote {
  background: url(https://bit.ly/2KPMXiR);
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
  font-size: larger;
}

.mybtn {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

footer {
  height: 20vh;
  background-color: tomato;
  color: black;
  font-weight: bold;
}

.link {
  color: black;
  font-weight: bold;
}

.link:hover {
  text-decoration: none;
  color: white;
}
